-r requirements.txt

mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-htmlproofer-plugin
# Not compatible with mermaidjs
# mkdocs-minify-plugin
mkdocs-autolinks-plugin
mkdocs-mermaid2-plugin
mkdocs-material
mkdocstrings
markdown-include
mkdocs-section-index
